body {
    font-family: "Fira Sans";
    font-style: normal;

}

li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}
ul {
    margin-left: -40px;
    margin-top: -16px;
    margin-bottom: -16px;  
}